﻿@*Model Statement*@
@model collegeCompanionApp.Models.College

@{
    ViewBag.Title = "SearchResults";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="adjustTop">
    <div class="container">
        <h2>SearchResults</h2>
        <hr />
        <h2 class="text-center" id="NotFound"></h2>
        @*Razor call for loop to populate these as needed after search*@
        <div id="Results" class="col-md-12" style="position:relative;">

        </div>
    </div>
</div>
<hr />
<div class="footer">
    *@*Pagination UI*@
    @*<nav aria-label="searchResultsPagination">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>*@
    @*Populate the number of pages needed from search*@
    @*<li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>*@
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/SearchResults.js"></script>
}