﻿/*===========Custom CSS for College Companion=======================*/

/* Font Import */

@font-face {
    font-family: 'CCfont';
    src: url(../fonts/Noteworthy-Bold-02.ttf);
}

/* Page Adjusts for Accounts 
    add a div to the view and call it this when making a new view.
    this will keep the nav bar from running to the space.
*/
.adjustTop {
    margin-top:50px;
}

/* Image Spread Styles */
body, img {
    padding: 0;
    margin: 0;
    outline: none;
    width: 100%;
    height: auto;
    background-size: cover;
}

.travelResults{
    float:left;
}

.img_small {
    width: unset;
    height: unset;
    min-width: unset;
    min-height: unset;
}

.img-fullpage {
    font-size: 16px;
    height: 2em;
    display: block;
    margin-top: 50px;
}

#img-searchForm {
    width: 100%;
    height: auto;
    min-height: 100px;
    background-image: url(../Content/blackboard.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#img-searchPeople {
    width: 100%;
    height: auto;
    min-height: 831px;
    background-image: url(../Content/people.png);
    background-size: cover;
}

#img-searchFood {
    width: 100%;
    height: auto;
    background-image: url(../Content/food.png);
    background-size: cover;
}

#img-searchTravel {
    width: 100%;
    height: auto;
    background-image: url(../Content/travel.png);
    background-size: cover;
}

/* Large Header & Logo Style */

.ccheader {
    font-family: CCfont;
    font-size-adjust: inherit;
}

.ccPanelHeader {
    text-align: center;
    vertical-align: middle;
    font-family: CCfont;
    font-size-adjust: inherit;
}

.ccsubHeader {
    font-family: CCfont;
    font-size:medium;
}

.ccPanelBody {
    margin-top: -5%;
    height: 15em;
    max-height: 15em;
    min-height: 15em;
    display: block;
}

/* Text Box Placements */

div{
    display:block;
}

.indexBox {
    clear: both;
    width: 80%;
    height: auto;
    min-height: 40em;
    padding-top: 2em;
    font-size-adjust: inherit;
    color: dimgrey;
    position: relative;
    margin: 50px auto;

}

.aboutBox {
    clear: both;
    width: 50%;
    height: auto;
    min-height: 40em;
    padding: 10px;
    font-size-adjust: inherit;
    overflow: auto;
    position: relative;
    margin: 50px 0px 50px 50px auto;
    color:dimgrey;
}

.contactBox {
    clear: both;
    width: 50%;
    height: auto;
    min-height: 600px;
    max-height: 800px;
    padding: 10px;
    font-size-adjust: inherit;
    color: dimgrey;
    margin-left: 10%;
}

.searchFormBox {
    clear: both;
    width: 90%;
    height: auto;
    min-height: 900px;
    max-height: 900px;
    font-size-adjust: inherit;
    color:aliceblue;
    margin-left: 2%;
    overflow-y:auto;
}

.shiftDiv-down {
    margin-top: 50%;
}

.shiftDiv-Tinydown {
    margin-top: 10%;
}

.shiftDiv-left {
    margin-left:50%;
}

.shiftDiv-Tinyleft {
    margin-left: 5%;
}

/* text classes*/

#warning {
    color:crimson;
    font-weight:bold;
}

/*Panels*/
#center {
    clear: both;
    text-align: center;
    align-content: center;
    position: center;
}

.panel-style {
    margin-top: -20px !important;
    color: steelblue !important;
    min-height:100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.panel-height {
    min-height: 100px;
    max-height: 100px;
    height: 100px;
}
/* Search Field Styles*/
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"); body {
    margin: 30px;
}

.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
}

    .search input {
        width: 250px;
        height: 32px;
        background: #fcfcfc;
        border: 1px solid #aaa;
        border-radius: 5px;
        box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
    }

    .search input {
        text-indent: 32px;
    }

    .search .fa-search {
        position: absolute;
        top: 10px;
        left: 10px;
    }

.searchform {
    align-content:center;
    text-align:center;
}
/** Google Maps Styles**/
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#clear-div {
    width: unset;
    height: unset;
    min-width: unset;
    min-height: unset;
}
#map {
    height: 400px;
}

#map-div {
    height: 400px;
    width: 400px;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px; /* 50% */
    }
}